.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.registrationForm {
  width: 480px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.submitButton {
  width: 100px;
  height: 40px;
  background-color: #146eff;
  color: white;
  font-weight: bold;
  border-width: 1px;
  border-radius: 10px;
}

.inputRow {
  width: 100%;
  min-height: 50px;
}

.labelBlock {
  text-align: left;
  margin-top: 5px;
  float: left;
}

.inputBlock {
  float: right;
}

.inputElem {
  width: 300px;
  height: 25px;
}

.errorElem {
  font-size: 9pt;
  color: red;
  text-align: left;
}
